<div class="d-flex justify-center pb-8 pt-8">
    <img src="Images/logo.png" alt="My Finanance - Your Favorite Budgeting App" width="200"/>
</div>

<MudNavMenu>
    <MudNavLink href="/" Match="NavLinkMatch.All">Dashboard</MudNavLink>
    <MudNavLink href="/transactions/history">Transactions</MudNavLink>
    <MudNavLink href="/categories">Categories</MudNavLink>
    <MudNavLink href="/transactions/new">Add Transaction</MudNavLink>
    <MudNavLink href="/premium">Premium</MudNavLink>
    <MudNavLink href="/logout">Logout</MudNavLink>
</MudNavMenu>